@import url(http://fonts.googleapis.com/css?family=Roboto:400,100,300,500,700);
.demo { 
  font-family: "Roboto";
  margin: 50px;
  font-size: 18px;
}

.ripple {
  background: rgba(0,0,0,0.5);
}

@btn-primary: #4285f4;
@btn-primary-text: #FFFFFF;


.btn {
  display: inline-block;
  padding: 20px 40px;
  
  cursor: pointer;
  border-radius: 4px;
  text-transform: uppercase;
  text-decoration: none;
  
  transition: box-shadow 0.28s cubic-bezier(0.4, 0, 0.2, 1);
  
  box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.19), 0 6px 13px 0 rgba(0, 0, 0, 0.24);
  

  &:active {
    box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.23), 3px 8px 20px 0 rgba(0, 0, 0, 0.18), -3px 8px 20px 0 rgba(0, 0, 0, 0.18);
  }

  &.btn-primary {
    background: @btn-primary;
    color: @btn-primary-text;
  }
}
